* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 8rem;
}

.container {
    max-width: 1800px;
    margin-inline: auto;
}

nav {
    background-color: #FF6900;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.box {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .gender {
    color: white;
    font-size: 1.5em;
} */

.gender > * {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding-inline: .7rem;
}

.logo {
    height: 3em;
}

.icons > * {
    font-size: 1.5em;
    color: white;
    padding-inline: .7rem;
}

/* main */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: calc( 100% / 3 - 20px); */
}

.card {
    margin-inline: 12px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}    

.card img {
    height: 100%;
}

span {
    font-size: 1.2rem;
}

/* footer */


footer {
    background-color: #1A1A1A;
    height: 5rem;
}

